<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4462637110092997">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4462637110092997"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index_style.css">
</head>

<body>
    <center>
        <div class="homepage-title" id="homepage_title">
    </center>

    <form id="assets_and_inflows_section">
        <div class="section-headers" id="asset_section_title"></div>
        <div class="form-section">
            <label id="total_current_assets_label" for="currentAssets"></label>
            <label id="total_current_assets_subtext" class="label-subtext"></label>
            <input type="float" id="currentAssets" name="currentAssets" value="50000000" oninput="formatNumber(this)" required>
        </div>
        <div class="form-section">
            <label for="savingsGrowthContainer" id="wealth_growth_label"></label>
            <div id="savingsGrowthContainer" name="savingsGrowthContainer"></div>
        </div>
        <div class="form-section">
            <label id="current_monthly_inflow_label" for="monthlyInflowContainer"></label>
            <label id="current_monthly_inflow_subtext" class="label-subtext"></label>
            <div id="monthlyInflowContainer" name="monthlyInflowContainer"></div>
        </div>
    </form>

    <form id="monthly_expenses_section">
        <div class="section-headers" id="monthly_expenses_section_title"></div>
        <div class="form-section">
            <label for="rent_security" id="rent_label"></label>
            <div id="rentContainer"></div>
        </div>
        <div class="form-section">
            <label for="utility" id="utility_label"></label>
            <label class="label-subtext" id="utility_subtext"></label>
            <div id="utilityContainer"></div>
        </div>
        <div class="form-section">
            <label for="maids" id="maids_label"></label>
            <div id="maidsContainer"></div>
        </div>
        <div class="form-section">
            <label for="home_essentials" id="home_essentials_label"></label>
            <label class="label-subtext" id="home_essentials_subtext"></label>
            <div id="homeEssentialsContainer"></div>
        </div>
        <div class="form-section">
            <label for="car" id="car_expenses_label"></label>
            <label class="label-subtext" id="car_expenses_subtext"></label>
            <div id="existingCarContainer"></div>
        </div>
        <div class="form-section">
            <label for="car_replacement" id="car_replacement_label"></label>
            <label class="label-subtext" id="car_replacement_subtext"></label>
            <div id="newCarContainer"></div>
        </div>
        <div class="form-section">
            <label for="leisure" id="leisure_label"></label>
            <label class="label-subtext" id="leisure_subtext"></label>
            <div id="leisureContainer"></div>
        </div>
        <div class="form-section">
            <label for="assets_repair_replacement" id="assets_repair_replacement_label"></label>
            <label class="label-subtext" id="assets_repair_replacement_subtext"></label>
            <div id="assetRepairContainer"></div>
        </div>
        <div class="form-section">
            <label for="domestic_travel_holiday" id="domestic_travel_label"></label>
            <label class="label-subtext" id="domestic_travel_subtext"></label>
            <div id="domesticTravelContainer"></div>
        </div>
        <div class="form-section">
            <label for="international_travel" id="international_travel_label"></label>
            <label class="label-subtext" id="international_travel_subtext"></label>
            <div id="interTravelContainer"></div>
        </div>
        <div class="form-section">
            <label for="medical" id="medical_expenses_label"></label>
            <div id="medicalContainer"></div>
        </div>
        <div class="form-section">
            <label for="childrenCount" id="children_count_label"></label>
            <input type="float" id="childrenCount" name="childrenCount" value="0" required>
        </div>

        <div id="child-forms-container"></div>
    </form>

    <form id="property_section">
        <div class="section-headers" id="property_investment_section_title"></div>

        <label id="existing_property_question"></label>
        <div class="radio-options">
            <div>
                <label for="hasProperty">Yes</label>
                <input type="radio" id="hasProperty" name="existingProperty" value="yes">
            </div>
            <div>
                <label for="noProperty" style="display: inline;">No</label>
                <input type="radio" id="noProperty" name="existingProperty" value="no" checked="checked">
            </div>
        </div>
        <div id="existing_property_plans"></div>

        <label for="buyProperty" id="new_property_purchase_question"></label>
        <div class="radio-options">
            <div>
                <label for="willPurchase">Yes</label>
                <input type="radio" id="willPurchase" name="buyProperty" value="yes">
            </div>
            <div>
                <label for="wontPurchase" style="display: inline;">No</label>
                <input type="radio" id="wontPurchase" name="buyProperty" value="no" checked="checked">
            </div>
        </div>
        <div id="new_property_plans"></div>
    </form>

    <form id="global_settings_section">
        <div class="section-headers" id="global_settings_section_label"></div>
        <div class="form-section">
            <label for="inflationRate" id="inflation_rate_label"></label>
            <input type="float" id="inflationRate" name="inflationRate" value="6" required>
        </div>
        <div class="form-section">
            <label for="incomeTax" id="income_tax_rate_label"></label>
            <input type="float" id="incomeTax" name="incomeTax" value="25" required>
        </div>
    </form>

    <center>
        <div id="errormsg" style="color: red;"></div>
        <button type="submit" id="submit" class="button-design">Submit</button>
    </center>

    <div class="output-section">
        <div id="result"></div>
        <div id="propertysalvagevalue"></div>
        <div id="hraloss"></div>
    </div>

    <!-- Scripts section -->
    <script src="./static/rangeInputs.js"></script>
    <script src="./static/loadFormLabels.js"></script>
    <script>
        addFirstRow('savingsGrowthContainer');
        addFirstRow('monthlyInflowContainer');
        addFirstRow('rentContainer');
        addFirstRow('utilityContainer');
        addFirstRow('maidsContainer');
        addFirstRow('homeEssentialsContainer');
        addFirstRow('existingCarContainer');
        addFirstRow('newCarContainer');
        addFirstRow('leisureContainer');
        addFirstRow('assetRepairContainer');
        addFirstRow('domesticTravelContainer');
        addFirstRow('interTravelContainer');
        addFirstRow('medicalContainer');
    </script>
    <script src="./static/fieldListeners.js"></script>
    <script src="./static/onFormSubmit.js"></script>

</body>

</html>